body{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

#myh1{
    text-align: center;
    justify-content: center;
}

#muah{
    display: none;
}